  <!-- Content -->
      <div class="" style=" background-color: #e91e6366; padding: 2%; height: 70%; margin-top: 5%;">
        <!--Grid row-->
        <div class="row pt-lg-5 mt-lg-5 " >
          <!--Grid column-->
          <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft"
            data-wow-delay="0.3s" >
            <h1 class="display-4 font-weight-bold">The Gossip Project</h1>
            <hr class="hr-light">
            <h6 class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
              fuga
              nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea
              dolor molestiae, quisquam iste.</h6>
            <a class="btn btn-outline-white" href="/sign_up/createuser">Sign up</a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4 ">
            <!--Form-->
            <!-- Default form register -->
<!-- Default form login -->
<form class="text-center border border-light p-5" style="height: 90%; background-color: #fff5" action="/login_check" method="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

    <p class="h4 mb-4" colorg>Login</p>

    <!-- Email -->
    <input type="email" name="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" name="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="">Mots de pass oublie?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Log in</button>

  

    

</form>
<!-- Default form login -->
<!-- Default form register -->
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->